<div> 
    <img class="main-img" src="/images/cinema.jpg "/>
<h1 class="main-title">{{title}}</h1>
<!-- <p>Welcome to {{title}}</p> --> 
<a class="check-movies" href="/movies">Check the movies!</a>

</div>



